<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fas fa-bars"></i> </a>            
        </div>
        @*<ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" style="line-height: 50px;" data-i18n="topnav.welcometext">Bienvenue dans Art Planning</span>
            </li>
            <li>
                <a href="@Url.Action("Authentication", "Pages")">
                    <i class="fas fa-sign-out"></i>Se déconnecter
                </a>
            </li>
        </ul>*@
        @Html.Partial("_AS_Login")
    </nav>
</div>